:root{
    --bs-primary: #17a2b8;
    --bs-primary-rgb: 23, 162, 184;
    --t-secondary: #00394f;
    --t-secondary-rgb: 0, 57, 79;
}
body,button,input{
    font-family: 'Nunito';
}
.font-handlee{
    font-family: 'Handlee';
}
.padding-70{
    padding: 70px 0;
}
.t-secondary{
    color: var(--t-secondary) ;
}
.social-bg{
    background-color: #17a3b897;
}

nav{
    .navbar-brand{
        img{
           max-width: 50px;
        }
    }
    .navbar-nav{
        .nav-item{
            .nav-link{
                color: black;
            }
        }
    }
    
    .navbar-nav .nav-link.active, .navbar-nav .show>.nav-link{
        color: var(--bs-primary) !important;
    }
    .nav-link:focus, .nav-link:hover{
        color: var(--bs-primary) !important;
    }
}
.btn-bg{
    background-color: var(--bs-primary);
    transition: all 0.5s;
    &:hover{
        background-color: #138496 !important;
    }
    
}
.banner{
    .banner-content{
        .btn-bg{
          background-color: #00394f; 
          &:hover{
            background-color: #001d29 !important;
          } 
        }
    }
}
.heading{
    h4{
        &::before{
            position: absolute;
            content: "";
            width: 50px;
            height: 2px;
            background-color: #17a2b8;
            right: -60px;
            top: 43%;
            margin: auto;
        }
    }
}
.common-heading{
    h6{
        &::before{
            position: absolute;
            content: "";
            width: 50px;
            height: 2px;
            background-color: #17a2b8;
            left: -60px;
            top: 45%;
        }
        &::after{
            position: absolute;
            content: "";
            width: 50px;
            height: 2px;
            background-color: #17a2b8;
            right: -60px;
            top: 45%;
        }
    }
}
.booking{
    .card{
        .card-header{
            background-color: #00394f;
        }
        .card-body{
            background-color: #17a2b8;
        }
        form{
            select{
                cursor: pointer;
            }
            .btn-bg{
                background-color: #00394f; 
                &:hover{
                  background-color: #001d29 !important;
                } 
            }
        }
    }
}
.teachers{
    .team-info{
        &:hover{
            .team-img{
                .social{
                    visibility: visible;
                    opacity: 1;
                }
            }
        }
        .team-img{
            .social{
                visibility: hidden;
                opacity: 0;
                transition: all 0.5s;
                a{
                    transition: all 0.5s;
                    &:hover{
                        color: black !important;
                        background-color: white !important;
                    }
                }
            }
        }
    }
}
.testimonial{
    .swiper-pagination-bullet-active{
        background: #17a2b8 !important;
        padding: 5px;
    }
    .swiper-pagination-bullet{
        padding: 5px;
    }
}
.footer-bg{
    background-color: #001d29;
    a{
        img{
            width: 60px;
        }
    }
    .icon{
        a{
            transition: all 0.5s;
            &:hover{
                color: white !important;
                background-color: var(--bs-primary) !important;
            }
        }
    }
    ul{
        li{
            a{
                transition: all 0.5s;
            }
            &:hover{
                a{
                    letter-spacing: 1px !important;
                }
            }
        }
    }
    .copy-right{
        transition: all 0.5s;
        cursor: pointer;
        &:hover{
            color: #138496 !important;
            text-decoration: underline !important;
        }
    }
}

.projects{
    .nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover{
        border-color: transparent;
    }
    .nav-tabs{
        .nav-item{
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
            }
    }
    .project-work{
        overflow: hidden;
        img{
            transition: all 0.5s;
        }
        &:hover{
                    
                .project-info{
                    opacity: 1;
                    overflow: hidden;
                }
            }
        }
        
        .project-info{
            opacity: 0;
            transition: all 0.5s;
            // z-index: 3;
            overflow: hidden;
            i{
                cursor: pointer;
            }
        }
        .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
            color: white !important;
            background-color: #17a2b8 !important;
        }
}
.back-to-top-btn{
    display: none;
    animation: bounce 1s infinite alternate;
    transition: all 0.5s;
}
.fixed{
    position: fixed;
    bottom: 0;
    right: 0;
}

// blog details
.blog-d{
    .blog-heading{
        h6{
            position: relative;
            &::after{
                position: absolute;
                content: "";
                width: 80%;
                height: 2px;
                background-color: #17a2b8;
                margin: 0 10px;
                top: 40%;
            }
        }
    }
    .comments{
        .comment{
            a{
                transition: all 0.5s;
                &:hover{
                    background-color: #e5e5e5;
                }
            }
        }
    }
    .categories{
        .a-link{
            a{
                transition: all 0.5s;
                &:hover{
                    text-decoration: underline !important;
                    color: #0f6674 !important;
                }
            }
        }
    }
}

@keyframes bounce {
   0%{
    transform: translateY(0);
   }
   100%{
    transform: translateY(15px);
   } 
}
html{
    scroll-behavior: smooth;
}